@font-face {
  font-family: 'Maax';
  src: url('/fonts/regular/regular.woff2') format('woff2'), url('/fonts/regular/regular.woff') format('woff'), url('/fonts/regular/regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Maax';
  src: url('/fonts/bold/bold.woff2') format('woff2'), url('/fonts/bold/bold.woff') format('woff'), url('/fonts/bold/bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maax';
  src: url('/fonts/italic/italic.woff2') format('woff2'), url('/fonts/italic/italic.woff') format('woff'), url('/fonts/italic/italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Maax';
  src: url('/fonts/boldItalic/boldItalic.woff2') format('woff2'), url('/fonts/boldItalic/boldItalic.woff') format('woff'), url('/fonts/boldItalic/boldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.bt-card.description h1, .bt-card.description h2, .bt-card.description h3, .bt-card.description h4, .bt-card.description h5, .bt-card.description h6, .bt-card.description p {
  font-family: 'Maax','Open Sans', sans-serif ;
  margin: 0 ;
  line-height: 1.13 ;
}
.bt-card.description h1, .event-name .content{
  font-size: 2.4rem ;
  font-weight: bold ;
  font-family: 'Maax', 'Open Sans', sans-serif;
}

.bt-card.description h2 {
  font-size: 4rem ;
  font-weight: bold ;
}

.bt-card.description h3{
  font-size: 2.8rem ;
  font-weight: bold ;
}

.bt-card.description h4 {
  font-size: 2.4rem ;
  font-weight: bold ;
}

.bt-card.description h5{
  font-size: 2rem ;
  font-weight: bold ;
}

.bt-card.description h6{
  font-size: 1.5rem ;
  font-weight: bold ;
  letter-spacing: 2px ;
  text-transform: uppercase ;
}

.bt-card.description p {
  font-size: 1.6rem ;
  line-height: 1.5 ;

}


button.get-tickets-button {
  border: 2px solid #ec0919;
  background: transparent !important;
  color: #ec0919 !important;
  display: inline-block;
  padding: 1.5rem 3.5rem;
  border-radius: 25px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

..mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  font-family: 'Maax', 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
}